<section class="about-second-sec about-intersecting">
  <div class="hero-con">
    <img src="./images/about/secondSection/hero.webp" alt="hero-image" />
  </div>
  <div class="about-us-con">
    <span>Our Story</span>
    <h3>Flowers. Passion. Purpose.</h3>
    <p>
      Flos & Florere was founded with a simple belief - that every flower has
      the power to say what words cannot.
    </p>
    <p>
      What started as a small local flower shop has grown into a trusted online
      destination for fresh, handicrafted bouquets made with love and care.
    </p>
    <p>
      We work closely with local growers and artisans to bring you the freshed
      blooms and unique designs for every occasion.
    </p>
  </div>
</section>
