.contact-first-sec {
    width: 100%;
    height: 80dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    position: relative;
    padding: 80px 0;
    overflow: hidden;
}
.contact-first-sec h2 {
    display: flex;
    gap: 1rem;
    font-size: clamp(3rem, 5vw, 6rem); 
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    color: #5f5b57;
    letter-spacing: 1.5px;
}
.contact-first-sec h2 span {
    color: #a64b66;
}
.contact-banner-divider {
    display: flex;
    justify-content: center;
    margin: 0 0 0 200px;
    position: relative;
    width: 30px;
}
.contact-banner-divider img {
    width: 100%;
}
.contact-banner-divider::before,
.contact-banner-divider::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: #a64b66;
    top: 50%;
    transform: translateX(-50%);
    border-radius: 0.25rem;
}
.contact-banner-divider::before {
    left: -60px;
}
.contact-banner-divider::after {
    right: -180px;
}
.contact-first-sec p {
    width: 45%;
    font-size: clamp(1.1rem, 1.5vw, 2.5rem);
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    letter-spacing: 1.2px;
}
.contact-first-sec a {
    width: fit-content;
    background-color: #a64b66;
    padding: 0.5rem 1rem;
    font-size: clamp(1.3rem, 1.6vw, 1.8rem);
    border-radius: 0.5rem;
    border: 1px solid #a64b66;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s ease;
}
.contact-first-sec a:hover {
    background-color: white;
    color: #a64b66;
}
.contact-first-sec a img {
    width: 30px;
}
.contact-first-sec a:hover img {
    filter: brightness(0) saturate(100%) invert(37%) sepia(18%) saturate(1392%)
        hue-rotate(290deg) brightness(93%) contrast(95%);
}
.contact-first-sec h2,
.contact-first-sec p,
.contact-first-sec a {
    margin: 0 0 0 80px;
}
.contact-banner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
@media only screen and (max-width: 640px) {
    .contact-first-sec {
        height: fit-content;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;
        aspect-ratio: unset;
        padding: 24px 0 40px 0;
    }
    .contact-first-sec h2 {
        width: 90%;
        margin: 80px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-banner-divider {
        margin: 0 0 0 0;
    }
    .contact-first-sec p {
        width: 90%;
        margin: 0 0 0 0;
        text-align: center;
    }
    .contact-first-sec a {
        margin: 0 0 0 0;
    }
    .contact-banner  {
        filter: blur(4px);
        transform: scale(1.03);
        background: rgba(255,255,255,.35);
    }
}
@media (min-width: 641px) and (max-width: 950px) {
    .contact-first-sec {
        gap: 32px;
    }
    .contact-banner {
        filter: blur(2px);
        transform: scale(1);
        background: rgba(255,255,255,.35);
    }
    .contact-first-sec h2,
    .contact-first-sec p,
    .contact-first-sec a {
        margin: 0 0 0 48px;
    }
    .contact-first-sec p {
        width: 50%;
    }
    .contact-banner-divider {
        margin: 0 0 0 130px;
    }
    .contact-banner-divider::before,
    .contact-banner-divider::after  {
        width: 80px;
    }
    .contact-banner-divider::before {
        left: -40px;
    }
    .contact-banner-divider::after {
        right: -120px;
    }
}
@media (min-width: 951px) and (max-width: 1536px) {
    .contact-first-sec h2 {
        margin: 80px 0 0 80px;
       
    }
}
