<section class="shop-second-sec">
  <div class="left-con">
    <div class="left-top-con">
      <ul>
        <li class="left-category">
          <fieldset>
            <h3 class="category-title">Categories<span>+</span></h3>
            <div class="category-list">
              <label>
                <input
                  type="radio"
                  name="category"
                  value="all-bouquets"
                  id="all-bouquets"
                  checked
                />
                <span class="flower-category">All Bouquets</span>
              </label>
              <label>
                <input type="radio" name="category" value="rose" />
                <span class="flower-category">Roses</span>
              </label>
              <label>
                <input type="radio" name="category" value="lily" />
                <span class="flower-category">Lilies</span>
              </label>
              <label>
                <input type="radio" name="category" value="tulip" />
                <span class="flower-category">Tulips</span>
              </label>
              <label>
                <input type="radio" name="category" value="daisy" />
                <span class="flower-category">Daisy</span>
              </label>
              <label>
                <input type="radio" name="category" value="hydrangeas" />
                <span class="flower-category">Hydrangeas</span>
              </label>
              <label>
                <input type="radio" name="category" value="mix" />
                <span class="flower-category">Mixed Flowers</span>
              </label>
            </div>
          </fieldset>
        </li>
        <li class="left-category radio-category">
          <fieldset>
            <h3 class="category-title">Occasions<span>+</span></h3>
            <div class="category-list">
              <label>
                <input
                  type="radio"
                  name="occasions"
                  value="all-section"
                  id="all-section"
                  checked
                />
                <span class="ocassion-category">All Occasions</span>
              </label>
              <label>
                <input type="radio" name="occasions" value="Birthday" />
                <span class="ocassion-category">Birthday</span>
              </label>
              <label>
                <input type="radio" name="occasions" value="Anniversary" />
                <span class="ocassion-category">Anniversary</span>
              </label>
              <label>
                <input type="radio" name="occasions" value="Valentine's Day" />
                <span class="ocassion-category">Valentine's Day</span>
              </label>
              <label>
                <input type="radio" name="occasions" value="Mother's Day" />
                <span class="ocassion-category">Mother's Day</span>
              </label>
              <label>
                <input type="radio" name="occasions" value="Get Well Soon" />
                <span class="ocassion-category">Get Well Soon</span>
              </label>
              <label>
                <input type="radio" name="occasions" value="Sympathy" />
                <span class="ocassion-category">Sympathy</span>
              </label>
              <label>
                <input type="radio" name="occasions" value="Congratulations" />
                <span class="ocassion-category">Congratulations</span>
              </label>
            </div>
          </fieldset>
        </li>
        <li class="left-category">
          <h3 class="category-title">Price Range<span>+</span></h3>
          <div class="category-list price-filter">
            <div class="price-values">
              <span>$<span id="min-value">20</span></span>
              <span>$<span id="max-value">120</span></span>
            </div>
            <div class="range-slider">
              <div class="slider-track"></div>
              <input
                type="range"
                id="min-price"
                min="0"
                max="149"
                value="10"
                aria-label="min-price"
              />
              <input
                type="range"
                id="max-price"
                min="0"
                max="150"
                value="100"
                aria-label="max-price"
              />
            </div>
          </div>
        </li>

        <li class="left-category">
          <h3 class="category-title">Color<span>+</span></h3>
          <div class="category-list color-category">
            <label class="color-label">
              <input
                type="radio"
                name="color"
                value="all-color"
                id="all-color"
                aria-label="all-color"
                checked
              />
              <span class="checkmark all-color"></span>
            </label>
            <label class="color-label">
              <input
                type="radio"
                name="color"
                value="red"
                id="all-red"
                aria-label="all-red"
              />
              <span class="checkmark red"></span>
            </label>
            <label>
              <input
                type="radio"
                name="color"
                value="white"
                id="all-white"
                aria-label="all-white"
              />
              <span class="checkmark white"></span>
            </label>
            <label>
              <input
                type="radio"
                name="color"
                value="pink"
                id="all-pink"
                aria-label="all-pink"
              />
              <span class="checkmark pink"></span>
            </label>
            <label>
              <input
                type="radio"
                name="color"
                value="black"
                id="all-black"
                aria-label="all-black"
              />
              <span class="checkmark black"></span>
            </label>
            <label>
              <input
                type="radio"
                name="color"
                value="purple"
                id="all-purple"
                aria-label="all-purple"
              />
              <span class="checkmark purple"></span>
            </label>
            <label>
              <input
                type="radio"
                name="color"
                value="yellow"
                id="all-yellow"
                aria-label="all-yellow"
              />
              <span class="checkmark yellow"></span>
            </label>
            <label>
              <input
                type="radio"
                name="color"
                value="orange"
                id="all-orange"
                aria-label="all-orange"
              />
              <span class="checkmark orange"></span>
            </label>
          </div>
        </li>
        <li>
          <button type="button" class="reset-filter">Reset filter</button>
        </li>
      </ul>
    </div>
    <div class="left-bottom-con">
      <img
        src="./images/index/secondSection/delivery-fast-svgrepo-com.svg"
        alt="delivery-banner"
      />
      <h3>Same-day Delivery</h3>
      <p>Order by 2 PM for same-day delivery in select areas.</p>
      <a href="/contact.html">Learn More →</a>
    </div>
  </div>
  <div class="right-con">
    <div class="right-top-con">
      <div class="mobile-filter">
        <button class="filter-btn">Filter</button>
      </div>
      <div class="right-top-con-header">
        <span
          >Showing <span class="start-flower-count-per-page">1</span>–<span
            class="end-flower-count-per-page"
            >0</span
          >
          of <span class="total-fowers">0</span> results</span
        >
      </div>
    </div>
    <div class="bouquet-con">
      <div id="loading-product" class="product-loading">
        <div class="product-spinner"></div>
        <p>Retrieving data...</p>
      </div>
      <ul class="flower-grid"></ul>
      <div class="pagination"></div>
    </div>
  </div>
</section>
