<section class="cart-second-sec">
  <div>
    <h3>Order Summary</h3>
    <div class="order-summary-message"></div>
    <ul class="cart-checkout-content"></ul>
    <ul class="totals-con">
      <li>
        <span>Subtotal:</span>
        <span class="sub-total"></span>
      </li>
      <li>
        <span>Delivery Fee:</span>
        <span class="delivery-fee"></span>
      </li>
      <li>
        <span>Tax Fee:</span>
        <span class="tax-fee"></span>
      </li>
      <li>
        <span>Total:</span>
        <span class="grand-total"></span>
      </li>
    </ul>
    <div class="checkout-secure-con">
      <img
        src="./images/about/fifthSection/shield-check.svg"
        alt="secure-payment-icon"
      />
      <div class="checkout-secure-sub-con">
        <span>Secure Checkout</span>
        <p>Your payment information is 100% safe and secure.</p>
      </div>
    </div>
    <ul class="checkout-info-cards">
      <li>
        <img src="./images/about/fifthSection/truck.svg" alt="truck-icon" />
        <p>Same-day Delivery</p>
      </li>
      <li>
        <img
          src="./images/index/secondSection/flower-tulip-svgrepo-com.svg"
          alt="flower-icon"
        />
        <p>Fresh and Beautiful</p>
      </li>
      <li>
        <img src="./images/about/fifthSection/heart.svg" alt="with-love-icon" />
        <p>Made with Love</p>
      </li>
    </ul>
    <div class="checkout-help-con">
      <img src="./images/about/fifthSection/headphone.svg" alt="support-icon" />
      <div>
        <div class="help-con">
          <span>Need Help?</span>
          <p>We're here for you</p>
        </div>
        <div class="contact-con">
          <span>+1(000)123-4567</span>
          <span>hello@flosflorere.com</span>
        </div>
      </div>
    </div>
  </div>
</section>
